<a href="https://colab.research.google.com/github/chayakonchanlun/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน texboc จะเป็นภาษา markdown

ข้อดีของ python คือมี package สำหรับทำงานต่างๆ มากมาย ซึ่งpandas เป็น package สำหรับทำงานข้อมูลรูปแบบตาราง โดย pandas จะเรียกตารางนั้นว่า dataframe

In [236]:
import pandas # วิธีเรียกใช้  package คือ import ตามด้วยชื่อ package

In [237]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อ packge ที่โหลดมาใหม่ว่า pd คือตัวย่อ

ไฟล์ . csv (csv = comma separated value) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [238]:
data_df = pd.read_csv('data.csv')

In [239]:
data_df

       name      city
tom      27  khonkaen
GetNu    15   Bangkon
sarah    49    london

In [240]:
data_df2 = pandas.read_csv('data.csv')
data_df2

       name      city
tom      27  khonkaen
GetNu    15   Bangkon
sarah    49    london

# Basic Python
## variable

กำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [241]:
variable_a = 12
varible_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a

In [242]:
variable_a

12

In [243]:
varible_b

'abcde'

In [244]:
variable_c

12

In [245]:
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
# colab พยามใช้ภาษาอังกฤษ

In [246]:
variable_a = 12
variable_b = 'abcde'
variable_c = variable_a
variable_d = -41.2
variable_4 = "kku" # "" เรียกว้า double quote

In [247]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

# Data structure
list()

In [248]:
list_a = [1,2,0.2,'abc' ] #[] คือ square brackers
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [249]:
list_a

[1, 2, 0.2, 'abc']

In [250]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [251]:
len(list_b) #คือคำสั่งบอกจำนวนสมาชิกใน list นั้น

4

In [252]:
list_b[3]

[1, 2, 0.0]

In [253]:
list_b[3][1]

2

## string คือ list ของตัวหนังสือ

In [254]:
a = 'Stat KKU'

In [255]:
a[4]

' '

## วิธีสร้าง list **ว่าง**

In [256]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [257]:
list_c

[]

In [258]:

list_d

[]

เติมค่าลงไปใน list (.append)

In [259]:
list_d.append('a')

In [260]:
list_d

['a']

In [261]:
list_d.append(56)

In [262]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)

ใช้ลำดับในการชี้

ลำดับเริ่มจาก 0

สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [263]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [264]:
list_b[-1]

[1, 2, 0.0]

## list **slicing**

In [265]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [266]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [267]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [268]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

In [269]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [270]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [271]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [272]:
a

'Stat KKU'

In [273]:
a[5:]

'KKU'

In [274]:
a[-3:]

'KKU'

In [275]:
a[5:8]

'KKU'

In [276]:
a[5::]

'KKU'

## list + **list**

In [277]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abc']
[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [278]:
list_a + list_b

[1, 2, 0.2, 'abc', 2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [279]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abc']"

## **Loop**

In [280]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [281]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [282]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [283]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [284]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [285]:
for i in range(2,7,2):
    print(i)

2
4
6

In [286]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [287]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested **loop**

In [288]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

for ตัวแปรที่จะรับค่าจาก list in list ที่จะนำมาวนลูป

## Condition (If Statement)**ทำข้อความเป็นตัวหนา**

if เงื่อนไขที่จะตรวจสอบ ( ==, !=, <, >, <=, >=) :

  ถ้าเงื่อนไขเป็นจริง ทำงาน 1

  ถ้าเงื่อนไขเป็นจริง ทำงาน 2

elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:

  ถ้าเงื่อนไขเป็นจริง ทำงาน a1

  ถ้าเงื่อนไขเป็นจริง ทำงาน a2

elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:

  ถ้าเงื่อนไขเป็นจริง ทำงาน b1
  
  ถ้าเงื่อนไขเป็นจริง ทำงาน b2

else : #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
  ทำงานที่ x

In [289]:
stringx = ';glsl;alfpap3qrfsd..z'

if len(stringx) > 30:
  print (f'{string} is longer than 30 charecters')

In [290]:
stringx = ';glsl;alfpap3qrfsd..z'

if len(stringx) > 100:
  print (f'{string} is longer than 100 charecters')
else :
  print (f'{stringx} is {len(stringx)} charecters long')

;glsl;alfpap3qrfsd..z is 21 charecters long

In [291]:
password = '12345'

input_pass = '123'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password) :
  print ('Too long, Try again')
elif len(input_pass) < len(password) :
  print ('Too short, Try again')
else :
  print ('Wrong passwords, Try again')

Too short, Try again

### Quiz 1 หา min

In [292]:
list_ex = [1,5,9,-19,-2,0] #หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [293]:
if list_ex[i] < list_ex[j]:
    print(f'Min is {list_ex[i]}')
else:
    print(f'Min is {list_ex[j]}')

Min is -19

In [294]:
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ
print(list_ex)
for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     print(f'now i = {i}, min = {min}')
     print('start condition')
     if i < min:
        print(f'i < min, update min -> {i}')
        min = i
     else:
          print('not update')
     print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
not update
end condition, go to next i
now i = 9, min = 1
start condition
not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
not update
end condition, go to next i
now i = 0, min = -19
start condition
not update
end condition, go to next i
-19

## HW3 **ตัดเกรด**

In [295]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [296]:
for i in score:
  if i >= 80:
     print('ได้เกรด A')
  elif i >= 75:
      print('ได้เกรด B+')
  elif i >= 70:
      print('ได้เกรด B')
  elif i >= 65:
      print('ได้เกรด C+')
  elif i >= 60:
      print('ได้เกรด C')
  elif i >= 55:
      print('ได้เกรด D+')
  elif i >= 50:
      print('ได้เกรด D')
  else:
      print('ได้เกรด F')

ได้เกรด F
ได้เกรด C+
ได้เกรด B
ได้เกรด A
ได้เกรด A
ได้เกรด D+
ได้เกรด A
ได้เกรด F
ได้เกรด B+
ได้เกรด B+
ได้เกรด A
ได้เกรด D+
ได้เกรด F