<a href="https://colab.research.google.com/github/chayakonchanlun/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน texboc จะเป็นภาษา markdown

ข้อดีของ python คือมี package สำหรับทำงานต่างๆ มากมาย ซึ่งpandas เป็น package สำหรับทำงานข้อมูลรูปแบบตาราง โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas # วิธีเรียกใช้  package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อ packge ที่โหลดมาใหม่ว่า pd คือตัวย่อ

ไฟล์ . csv (csv = comma separated value) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name  age       city
0    Net   20  khon kaen
1  GetNu   15    Bangkok
2  sarah   35     poland

In [5]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Net   20  khon kaen
1  GetNu   15    Bangkok
2  sarah   35     poland

# Basic Python
## variable

กำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [12]:
variable_a = 12
varible_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a

In [13]:
variable_a

12

In [14]:
varible_b

'abcde'

In [15]:
variable_c

12

In [16]:
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
# colab พยามใช้ภาษาอังกฤษ

In [18]:
variable_a = 12
variable_b = 'abcde'
variable_c = variable_a
variable_d = -41.2
variable_4 = "kku" # "" เรียกว้า double quote

In [19]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

# Data structure
list()

In [20]:
list_a = [1,2,0.2,'abc' ] #[] คือ square brackers
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [21]:
list_a

[1, 2, 0.2, 'abc']

In [22]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [24]:
len(list_b) #คือคำสั่งบอกจำนวนสมาชิกใน list นั้น

4

In [25]:
list_b[3]

[1, 2, 0.0]

In [26]:
list_b[3][1]

2

## string คือ list ของตัวหนังสือ

In [27]:
a = 'Stat KKU'

In [28]:
a[4]

' '

เติมค่าลงไปใน list (.append)

NameError: ignored