<a href="https://colab.research.google.com/github/chayakonchanlun/DWDM21/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Project กลุ่ม

present วันที่ 31 สิงหาคม 2564

1.   ข้อมูลที่ไปดึงมาจาก 3 แหล่ง
2.   แสดงวิธีการโหลด
3.   ความเชื่อมโยงของ 3 ตาราง (index)

In [1]:
import pandas as pd # ข้อมูลลักษณะ ตาราง

In [2]:
from google.colab import drive #เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
ls #เป็นคำสั่งไว้ตรวจสอบที่อยู่ของไฟลืว่ามีไฟล์ครบรึป่าว

drive/  sample_data/

In [5]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)

In [6]:
path = '/content/drive/My Drive/Project'

## data **0**

In [7]:
data = pd.read_csv(os.path.join(path,'workshop-participants.csv'))
data

    Fisical Year   ... paticipants
0            2010  ...         128
1            2010  ...           7
2            2011  ...         148
3            2011  ...           8
4            2011  ...           6
..            ...  ...         ...
77           2015  ...         123
78           2016  ...         187
79           2017  ...          87
80           2018  ...         138
81           2019  ...         130

[82 rows x 4 columns]